@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: black;
    font-weight: 400;
    margin-left: 40px;
    cursor:pointer;
    text-decoration: none;
}

.nba {
    width: 253px;
    height: 500px;
}

section#data {
    min-height: 25vh;
}

.videoBox {
    width: 350px;
    height: 197px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textBox {
    position: relative;
    max-width: 600px;
}

.content .textBox h2 {
    color: #333;
    font-size: 1.8em;
    line-height: 1.4em;
    font-weight: 500;
}

.content .textBox h2 span {
    color: #C8B568;
    font-size: 1em;
    font-weight: 900;
}

.content .textBox p {
    color: #333;
}

.content .textBox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background-color: #C8B568;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor:pointer;
    text-decoration: none;
}

.content .imgBox {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.content .imgBox img {
    max-width: 340px;
}

.aboutMe {
    position: relative;
    display: grid;
    text-align: center;
}

.aboutMe h2 {
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 20px;
}

.aboutMe p {
    margin: auto;
    max-width: 90%;
    margin-bottom: 20px;
}

.icons {
    width: 500px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.icons a{
    color: #C8B568;
}

